.icon,
.fruit-add,
.user-add {
  position: absolute;
  bottom: 10vh;
  right: 3vw;
  transition: all 0.75s;
  transition-delay: 0.05s;
  background-image: linear-gradient(135deg, #628ee0, #9ee062);
  width: 3rem;
  height: 3rem;
  text-align: center;
  line-height: 2.5rem;
  color: white;
  border-radius: 50%;
  border: 3px solid white;
}

.fruit-add,
.user-add {
  z-index: -1;
  font-size: 1rem;
}

.icon {
  font-size: 3rem;
}

.fruit-add,
.user-add {
  line-height: 3rem;
}

.icon::after {
  content: '+';
}

.fruit-add::after {
  content: 'Fruit';
}

.user-add::after {
  content: 'User';
}

.plus:hover > .icon {
  transform: rotate(90deg);
}

.plus:hover > .fruit-add {
  z-index: 1;
  transform: translateY(-55px);
}

.plus:hover > .user-add {
  z-index: 1;
  transform: translateY(-110px);
}

.fruit-add:hover,
.user-add:hover {
  cursor: pointer;
  border-color: coral;
  color: #af1da3;
  font-weight: 900;
}
